<div class="card">
  <div class="card-header">
    Add a new Task
  </div>
  <div class="card-body">
    <form (submit)="addTask()">
      <div class="form-group">
        <label for="title">Task Title: </label>
        <input type="text" class="form-control" [(ngModel)]="title" name="title">
      </div>
      <div class="form-group">
          <label for="description">Task Description: </label>
          <input type="text" class="form-control" [(ngModel)]="description" name="description">
        </div>
        <input type="submit" value="Add Task" class="btn btn-primary">
    </form>
  </div>
</div>